*{margin: 0;
padding: 0;
box-sizing: border-box;}



body .container {font-family: 'Mulish', sans-serif; }

:root{ font-size: 62.5%;
  font-family: 'Mulish', sans-serif;}

.page { max-width: 43.0rem;
margin: 0 auto;}

#mansky { margin-bottom: 1.6rem;}


header p { margin-bottom: 3.5rem;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 500;
 
}

header {width: 43.0rem;}

header h1 {text-align: center; 
  color: #B52184;
font-size: 3.2rem;
font-weight: bold;}

#arrow {padding-left: 18.6rem;
margin-bottom: 9.3rem;}

.container { padding: 2.7rem 0 2.7rem 2.7rem ;
  background-color: #FFFFFF;
  width: 35.2rem;
 
  margin-bottom: 5.0rem;
  border-radius: 2.0rem;
}

main { padding: 5.0rem 3.9rem 0 3.9rem;
background-color: #312D64;
height: 124.2rem;
width: 43.0rem;}

#moon { margin-bottom: 3.3rem;}

.container h1 { font-size: 3.0rem;
margin-bottom: 2.0rem;
color: #B52184;}

.container p { font-size: 1.6rem;
font-weight: 500;
width: 26.6rem;
}

form { padding: 7.0rem 4.0rem;
}

.input-wrapper label { font-size: 3.2rem;
  color:#B52184;
font-weight: bold;

}


.input-wrapper input { height: 4.6rem;
padding: 1.6rem 1.6rem 1.6rem 5.0rem;
font-size: 1.6rem;
border-radius: 1.6rem;
margin-bottom: 2.4rem;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5926 2.02719C12.6805 1.04234 11.4064 0.5 10.0001 0.5C8.5864 0.5 7.30812 1.03906 6.40015 2.01781C5.48233 3.00734 5.03515 4.35219 5.14015 5.80437C5.34827 8.66937 7.52843 11 10.0001 11C12.4719 11 14.6483 8.66984 14.8597 5.80531C14.9661 4.36625 14.5161 3.02422 13.5926 2.02719Z' fill='%23B52184'/%3E%3Cpath d='M18.2501 21.5H1.75015C1.53418 21.5028 1.3203 21.4574 1.12407 21.3672C0.927837 21.2769 0.754194 21.1441 0.615771 20.9783C0.311084 20.6141 0.188271 20.1167 0.279209 19.6137C0.674834 17.4191 1.90952 15.5755 3.85015 14.2812C5.57421 13.1323 7.75811 12.5 10.0001 12.5C12.2422 12.5 14.4261 13.1328 16.1501 14.2812C18.0908 15.575 19.3255 17.4186 19.7211 19.6133C19.812 20.1162 19.6892 20.6136 19.3845 20.9778C19.2461 21.1437 19.0725 21.2766 18.8763 21.367C18.6801 21.4573 18.4662 21.5028 18.2501 21.5Z' fill='%23B52184'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat;
background-position: left 1.6rem top 50%;
width: 34.8rem;
font-weight: 500;
margin-top: 4.3rem;
}

.input-wrapper-email input {background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6708_2)'%3E%3Cpath d='M17.1528 3.42737C15.6481 1.78674 13.4262 0.919556 10.7262 0.919556C8.33559 0.919556 6.0059 1.84768 4.17309 3.53518C2.34027 5.22268 1.21527 7.46331 1.00434 9.85393C0.793398 12.2774 1.5434 14.5555 3.11371 16.2711C4.67934 17.9774 6.86371 18.9196 9.27309 18.9196C10.7965 18.9196 11.7856 18.8071 13.2809 18.1836C13.6606 18.0242 13.8434 17.5836 13.684 17.2039C13.5246 16.8242 13.084 16.6414 12.7043 16.8008C11.4293 17.3352 10.6512 17.4242 9.27777 17.4242C7.29496 17.4242 5.49965 16.6555 4.22465 15.2633C2.94027 13.8617 2.32621 11.9867 2.50434 9.98987C2.86996 5.81799 6.56371 2.42424 10.7356 2.42424C13.0043 2.42424 14.8418 3.12268 16.0559 4.44456C17.209 5.70549 17.7246 7.44456 17.5465 9.46955C17.3918 11.2227 16.7122 12.0852 16.1731 12.4977C15.6575 12.8914 15.1418 12.9758 14.8606 12.9242C14.0309 12.7789 13.5996 11.9633 13.7075 10.7539L14.1059 6.23987C14.1434 5.82737 13.8387 5.46174 13.4262 5.42893C13.0137 5.39143 12.6481 5.69612 12.6153 6.10862L12.5778 6.53518C11.8653 5.81799 10.9184 5.42424 9.90121 5.42424C8.78559 5.42424 7.72152 5.89768 6.90121 6.75549C6.11371 7.57581 5.62621 8.68206 5.52309 9.85862C5.4059 11.1664 5.79496 12.4039 6.57777 13.2617C7.26215 14.0117 8.20902 14.4242 9.24496 14.4242C10.3887 14.4242 11.4668 14.0024 12.2778 13.243C12.3903 13.1399 12.4981 13.0274 12.5965 12.9102C13.0606 13.8055 13.8575 14.2696 14.6075 14.4055C15.3996 14.5461 16.3278 14.2789 17.0965 13.693C17.8793 13.093 18.8496 11.8977 19.0512 9.60549C19.2434 7.17268 18.5778 4.98362 17.1528 3.42737ZM9.22621 12.9196C8.60746 12.9196 8.0684 12.6852 7.66527 12.2446C7.16371 11.6961 6.91996 10.8711 6.99965 9.98518C7.14965 8.26487 8.41996 6.91956 9.88715 6.91956C10.534 6.91956 11.1293 7.18206 11.57 7.66018C12.0809 8.21799 12.3293 9.01487 12.2543 9.85393C12.0668 11.968 10.595 12.9196 9.22621 12.9196Z' fill='%23B52184'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6708_2'%3E%3Crect width='20' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left 1.6rem top 50%;
  height: 4.6rem;
  padding: 1.6rem 1.6rem 1.6rem 50px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 1.6rem;
  margin-bottom: 2.4rem;
  width: 34.8rem;}

  textarea { height: 12.6rem;
    width: 34.8rem;
  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  border-radius: 1.6rem;
font-size: 1.6rem;
font-weight: 500;}

button { font-size: 1.4rem;
font-weight: bold;
background: #413f86;
margin-top: 2.4rem;
padding: 1.0rem 1.6rem;
color: white;
border-radius: 1.6rem;
cursor: pointer;
}

button:hover { background:#161380 ;}


footer { text-align: center;
font-size: 2.0rem;
font-weight: 500;
color:white;
background-color: #302C63;
padding: 3.2rem 1.6rem;
width: 43.0rem;
margin: 0 auto;}

#stars {max-width: 1px;
max-width: 1px;}

@media (min-width: 1120px)  {
 
  header { min-width: 1120px;
  display: flex;
margin-bottom: 103px;
}

.page { min-width: 1120px;}

#mansky {min-width: 700px;}

header h1{min-width: 420px;
margin-top: 312px;
font-size: 35px;
}

header p { max-width: 530px;
font-size: 28px;}

main { min-width: 1120px;
max-height: 576px;}

#arrow{margin-top: 144px;}

.flex3{display: flex;
gap: 60px;}

footer{min-width: 1120px;}

.container h1 {font-size: 35px;
}
.container p { font-size: 19px;}

.container {height: 448px;
width: 300px;}

.flex { width: 420px;}

.input-wrapper{display: flex;
flex-direction: column;
}

form { min-width: 560px;}

.input-wrapper input {min-width: 520px;}
.input-wrapper-email input {min-width: 520px;}
textarea {min-width: 520px;}

.flexform { display: flex;}

#stars { min-width: 560px;}

.flex { order: 1;}
#mansky { order: 2;}


}
